<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Welcome To Shopping Mart</h1>

    <div class="pages" align="center">
        <a href="../index.html">HOME</a>
        <a href="../component/fruits.html">FRUITS</a>
        <a href="../component/grocery.html">GROCERY</a>
        <a href="../component/about.html">ABOUT</a>
        <a href="../component/contact.html">CONTACT</a>
    </div>
    <br>
    <h2 class="b">Israr Ali</h2><br>
    <h2 class="b">WMA-217180</h2><br>
    <h2 class="b">ABC-CBA</h2><br>

</body>
</html>
