<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online shoping</title>
    <style>
           h1 {
  font-size: 4vh;
}
       .a {
           background-color: rgba(34, 34, 177, 0.833);
           color: aliceblue; text-align: center;
        }
        .b {
            background-color: rgba(67, 67, 230, 0.628);
            text-align: center;
        }
        #a {
            background-color: rgba(29, 29, 156, 0.833);
           color: aliceblue;
        }
        .pages {
            background-color: blue;
        }
        a:link, a:visited {
  color: white;
  padding: 10px 43px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
    
        </style>
</head>
<body>
    <h1 class="a"><br>Welcome To  <br> Shoping Mart <br><br>

    <table align="center" class="pages">
        <tr>
            <th width="200px"><a href="../index.html">HOME</a></th>
            <th width="200px"><a href="../component/fruits.html">FRUITS</a></th>
            <th width="200px"><a href="../component/grocery.html">GROCERY</a></th>
            <th width="200px"><a href="../component/about.html">ABOUT</a></th>
            <th width="200px"><a href="../component/contact.html">CONTACT</a></th>
        </tr>
    </table></h1>
    <br>
<h2 class="b">OUR FRUITS MENU</h2>
    <br>
    <table border="0.0px" align="center">
        <tr>
            <th id="a" width="200px"><a href="#BURGERS"><p>Exotic Fruits</p></a></th>
            <th id="a" width="200px"><a href="#BAR B.Q">Citrus Fruits</a></th>
            <th  id="a"width="200px"><a href="#RICE">Tropical Fruits</a></th>
        </tr>
        <tr>
            <th id="a" width="200px"><a href="#TOPPINGS"><p>Berries</p></a></th>
            <th id="a" width="200px"><a href="#DEALS">Stone Fruits</a></th>
            <th id="a" width="200px"><a href="#OTHERS">Melons</a></th>
        </tr>
    </table>
    <h2 class="b" id="BURGERS">Exotic Fruits</h2>
    <ul>
        <li>Durian-----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Dragon Fruit---------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Rambutan--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Mangosteen--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="BAR B.Q">Citrus Fruits</h2>
    <ul>
        <li>Orange----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Lemon---------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Grapefruit--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Lime--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="RICE">Tropical Fruits</h2>
    <ul>
        <li>Mango----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Papaya---------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Banana--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Avocado--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="TOPPINGS">Berries</h2>
    <ul>
        <li>Strawberries----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Blueberries---------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Raspberries--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Blackberries--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="DEALS">Stone Fruits</h2>
    <ul>
        <li>Peach------------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Plum----------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Apricot----------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Cherry--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="OTHERS">Melons</h2>
    <ul>
        <li>Watermelon----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Honeydew Melon--------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Cantaloupe----------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Galia Melon---------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>

</body>
</html>