<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shopping</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Welcome To Shopping Mart</h1>

    <div class="pages" align="center">
        <a href="../index.html">HOME</a>
        <a href="fruits.html">FRUITS</a>
        <a href="grocery.html">GROCERY</a>
        <a href="about.html">ABOUT</a>
        <a href="contact.html">CONTACT</a>
    </div>

    <h2>Our Fresh Fruits</h2>

    <table border="0" align="center">
        <tr>
            <th id="a" width="200px"><a href="#Exotic-Fruits">Exotic-Fruits</a></th>
            <th id="a" width="200px"><a href="#Citrus-Fruits">Citrus-Fruits</a></th>
            <th id="a" width="200px"><a href="#Tropical-Fruits">Tropical-Fruits</a></th>
        </tr>
        <tr>
            <th id="a" width="200px"><a href="#Berries">Berries</a></th>
            <th id="a" width="200px"><a href="#Stone-Fruits">Stone-Fruits</a></th>
            <th id="a" width="200px"><a href="#Melons">Melons</a></th>
        </tr>
    </table>

    <h2 id="Exotic-Fruits">Exotic Fruits</h2>
    <ul>
        <li>Durian ----------------------------------- <del>Rs.300</del> <ins>Rs.240</ins></li>
        <li>Dragon Fruit --------------------------- <del>Rs.320</del> <ins>Rs.280</ins></li>
        <li>Rambutan ------------------------------- <del>Rs.200</del> <ins>Rs.150</ins></li>
        <li>Mangosteen --------------------------- <del>Rs.220</del> <ins>Rs.170</ins></li>
    </ul>

    <h2 id="Citrus-Fruits">Citrus Fruits</h2>
    <ul>
        <li>Orange --------------------------------- <del>Rs.300</del> <ins>Rs.240</ins></li>
        <li>Lemon --------------------------------- <del>Rs.320</del> <ins>Rs.280</ins></li>
        <li>Grapefruit ----------------------------- <del>Rs.200</del> <ins>Rs.150</ins></li>
        <li>Lime ---------------------------------- <del>Rs.220</del> <ins>Rs.170</ins></li>
    </ul>

    <h2 id="Tropical-Fruits">Tropical Fruits</h2>
    <ul>
        <li>Mango ---------------------------------- <del>Rs.300</del> <ins>Rs.240</ins></li>
        <li>Papaya ------------------------------- <del>Rs.320</del> <ins>Rs.280</ins></li>
        <li>Banana ------------------------------- <del>Rs.200</del> <ins>Rs.150</ins></li>
        <li>Avocado ---------------------------- <del>Rs.220</del> <ins>Rs.170</ins></li>
    </ul>

    <h2 id="Berries">Berries</h2>
    <ul>
        <li>Strawberries -------------------------- <del>Rs.300</del> <ins>Rs.240</ins></li>
        <li>Blueberries --------------------------- <del>Rs.320</del> <ins>Rs.280</ins></li>
        <li>Raspberries --------------------------- <del>Rs.200</del> <ins>Rs.150</ins></li>
        <li>Blackberries -------------------------- <del>Rs.220</del> <ins>Rs.170</ins></li>
    </ul>

    <h2 id="Stone-Fruits">Stone Fruits</h2>
    <ul>
        <li>Peach ------------------------------- <del>Rs.300</del> <ins>Rs.240</ins></li>
        <li>Plum ------------------------------ <del>Rs.320</del> <ins>Rs.280</ins></li>
        <li>Apricot --------------------------- <del>Rs.200</del> <ins>Rs.150</ins></li>
        <li>Cherry -------------------------- <del>Rs.220</del> <ins>Rs.170</ins></li>
    </ul>

    <h2 id="Melons">Melons</h2>
    <ul>
        <li>Watermelon ------------------------- <del>Rs.300</del> <ins>Rs.240</ins></li>
        <li>Honeydew Melon ------------------- <del>Rs.320</del> <ins>Rs.280</ins></li>
        <li>Cantaloupe ------------------------ <del>Rs.200</del> <ins>Rs.150</ins></li>
        <li>Galia Melon ----------------------- <del>Rs.220</del> <ins>Rs.170</ins></li>
    </ul>
</body>
</html>
