<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online shoping</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h1>Welcome To Shopping Mart</h1>

    <div class="pages" align="center">
        <a href="../index.html">HOME</a>
        <a href="fruits.html">FRUITS</a>
        <a href="grocery.html">GROCERY</a>
        <a href="about.html">ABOUT</a>
        <a href="contact.html">CONTACT</a>
    </div>

    <h2>Our Fresh Fruits</h2>

    <table border="0" align="center">
        <tr>
            <th id="a" width="200px"><a href="#BURGERS">Grains</a></th>
            <th id="a" width="200px"><a href="#BAR B.Q">Canned Goods</a></th>
            <th id="a" width="200px"><a href="#RICE">Dairy Products</a></th>
        </tr>
        <tr>
            <th id="a" width="200px"><a href="#TOPPINGS">Snacks</a></th>
            <th id="a" width="200px"><a href="#DEALS">Spices</a></th>
            <th id="a" width="200px"><a href="#OTHERS">Beverages</a></th>
        </tr>
    </table>
    <h2 class="b" id="BURGERS">Grains</h2>
    <ul>
        <li>Rice----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Wheat Flour--------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Oats----------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Quinoa---------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="BAR B.Q">Canned Goods</h2>
    <ul>
        <li>Canned Tuna-----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Canned Beans---------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Canned Tomatoes--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Canned Soup--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="RICE">Dairy Products</h2>
    <ul>
        <li>Milk----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Cheese----------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Butter---------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Yogurt--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="TOPPINGS">Snacks</h2>
    <ul>
        <li>Chips----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Cookies----------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Crackers--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Pretzels--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="DEALS">Spices</h2>
    <ul>
        <li>Salt----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Pepper---------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Cumin--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Turmeric---------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>
    <h2 class="b" id="OTHERS">Beverages</h2>
    <ul>
        <li>Water----------------------------------<del>Rs.300</del> <ins>Rs.240</ins> </li>
        <li>Soda--------------------------<del>Rs.320</del> <ins>Rs.280</ins> </li>
        <li>Juice--------------------------------<del>Rs.200 </del> <ins>Rs.150</ins> </li>
        <li>Coffee--------------------------<del>Rs.220</del> <ins> Rs.170</ins> </li>
    </ul>

</body>
</html>